:root {
  --background-colour: #BFE0FF;
  --primary-colour: #fff;
  --secondary-colour: #E6C795;
  --tertiary-colour: #95BFE6;
  --text-colour: #547899;
}

body {
  background-color: var(--background-colour);
  color: var(--text-colour)
}


h1 {
  color: var(--text-colour)
}

button[type = submit], button[type = button] {
  background-color: var(--secondary-colour)
}

button[type = submit]:hover, button[type = button]:hover {
  background-color: #997945;
}


.carousel-item {
  background-color: var(--tertiary-colour);
  border-radius: 10px;
}

button.btn{
  border: 0;
}

#displayQuote {
  background-color: var(--tertiary-colour);
  border-radius: 10px;
  color: var(--text-colour)
}

@media only screen and (min-width: 768px) {
  .btn-group{
  width: 25%;
  }

  
button.btn{
width: 25%;
}

}